@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600;1,700&display=swap');
body{
	height: 0px;
	margin: 0px;
	padding: 0px;
}
/*--------------------------------------------------------------------------------div-----------------------------------------------------------------------------*/
div#bear{
	width: 100%;
	margin: 0px;
	padding: 0px;
}
/*-------------------------------------------------------------------------div_header----------------------------------------------------------------------------*/
div#bear header#arg{
	background: linear-gradient(to right,#000,#111,#222,#333,#444);
	width: 100%;
	height: 140px;
	margin: 0px;
	color: #ddd;
	overflow: hidden;
}
div#bear header#arg div#skol{
	height: 65%;
	width: 23%;
	padding: 1px;
	margin: 20px 0px 0px 38px;
	overflow: hidden;
}
div#bear header#arg div#skol div#cookie{
	width: 100%;
	height: 83%;
	margin: 0px;
	overflow: hidden;
}
div#bear header#arg div#skol div#cookie h1{
	margin-top: -10px;
	font-size: 80px;
	font-family: Impact;
	text-align: center;
}
div#bear header#arg div#skol div#cream{
	width: 100%;
	height: 17%;
	margin: 0px;
	overflow: hidden;
}
div#bear header#arg div#skol div#cream h5{
	margin-top: 0px;
	text-align: center;
	letter-spacing: 6px;
}
/*-----------------------------------------------------------------------div_header_nav--------------------------------------------------------------------------*/
div#bear header#arg nav#fast{
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	bottom: 70px;
	left: 49%;
	width: 26%;
}
div#bear header#arg nav#fast h2{
	display: none;
}
div#bear header#arg nav#fast ul{
	list-style: none;
}
div#bear header#arg nav#fast li{
	display: inline-block;
	padding: 5px 15px;
}
div#bear header#arg nav#fast a{
	text-decoration: none;
	color: #888;
}
div#bear header#arg nav#fast li:hover{
	border-bottom: 4px solid #eee;
	transition: .2s;
}
div#bear header#arg nav#fast a:hover{
	color: #eee;
	transition: .2s;
	text-shadow: 1px 1px 3px #aaa;
}
div#bear img#furious{
	position: absolute;
	top: 56px;
	left: 74%;
	width: 250px;
	height: 115px;
	z-index: 1;
}
/*---------------------------------------------------------------------------div_section-------------------------------------------------------------------------*/
div#bear section#pegeot{
	background: url('Range.jpg') no-repeat 0px 0px / 100%;
	width: 100%;
	margin: 0px;
	height: 676px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
div#bear section#pegeot section#nogaut{
	flex-direction: column;
	opacity: .8;
	background: #f5f5f5;
	width: 85%;
	height: 600px;
	border-radius: 10px;
	border: 1px solid #aaa;
	overflow: hidden;
}
div#bear section#pegeot section#nogaut:hover{
	opacity: 1;
}
div#bear section#pegeot section#nogaut div#nugget{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 75%;
}
div#bear section#pegeot section#nogaut div#nugget img{
	width: 30%;
	height: 88%;
}
div#bear section#pegeot section#nogaut div#idh{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 25%;
}
div#bear section#pegeot section#nogaut p{
	font-size: 45px;
	color: #999;
	font-style: italic;
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: 1px 1px 4px #333;
}
/*--------------------------------------------------------------------------div_footer----------------------------------------------------------------------------*/
div#bear footer#copyright{
	font-family: 'Source Sans Pro', sans-serif;
	height: 355px;
}

/*----------------------------------------------------------------------------footer_div--------------------------------------------------------------------------*/

div#bear footer#copyright div#development_system_analyst{
	height: 255px;
	display: flex;
	padding: 5px;
	overflow: hidden;
}

/*--------------------------------------------------------------------------footer_div_div------------------------------------------------------------------------*/

div#bear footer#copyright div#development_system_analyst div{
	padding: 5px;
}
div#bear footer#copyright div#development_system_analyst div#the_best_of_the_best{
	height: 77%;
	width: 31%;
	margin: 25px 64px 0px 40px;
}
div#bear footer#copyright div#development_system_analyst div#the_best_of_the_best h3{
	color: #444;
	text-shadow: 1px 1px 5px #999;
}
div#bear footer#copyright div#development_system_analyst div#the_best_of_the_best p{
	color: #666;
	text-indent: 40px;
	line-height: 25px;
	text-align: justify;
}
div#bear footer#copyright div#development_system_analyst div#the_best_of_the_best p span{
	color: #333;
	font-weight: bold;
}
div#bear footer#copyright div#development_system_analyst div#the_planet_earth_i_blue{
	width: 19%;
	text-align: center;
	margin: 0px 54px 0px 64px;
}
div#bear footer#copyright div#development_system_analyst div#the_planet_earth_i_blue h4{
	color: #444;
	text-shadow: 1px 1px 5px #999;
}
div#bear footer#copyright div#development_system_analyst div#the_planet_earth_i_blue p{
	color: #444;
	line-height: 28px;
}
div#bear footer#copyright div#development_system_analyst div#the_planet_earth_i_blue p img{
	width: 20px;
	height: 16px;
}
div#bear footer#copyright div#development_system_analyst div#the_planet_earth_i_blue span{
	color: #333;
	text-shadow: 1px 1px 5px #999;
	font-weight: bold;
}

/*--------------------------------------------------------------------------footer_div_nav------------------------------------------------------------------------*/

div#bear footer#copyright div#development_system_analyst nav#the_strongest_man_of_world{
	margin: 158px 0px 0px 54px;
	width: 28.5%;
	height: 91px;
	overflow: hidden;
}

/*-----------------------------------------------------------------------footer_div_nav_div-----------------------------------------------------------------------*/

div#bear footer#copyright div#development_system_analyst nav#the_strongest_man_of_world div#the_house_maroon{
	height: 13px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
div#bear footer#copyright div#development_system_analyst nav#the_strongest_man_of_world div#the_house_maroon h4{
	color: #444;
	text-shadow: 1px 1px 5px #999;
}

/*-----------------------------------------------------------------------footer_div_nav_ul------------------------------------------------------------------------*/

div#bear footer#copyright div#development_system_analyst nav#the_strongest_man_of_world ul{
	height: 46px;
	display: flex;
	list-style: none;
}

/*---------------------------------------------------------------------footer_div_nav_ul_li-----------------------------------------------------------------------*/

div#bear footer#copyright div#development_system_analyst nav#the_strongest_man_of_world ul li{
	height: 100%;
	padding: 0px 20px;
}
div#bear footer#copyright div#development_system_analyst nav#the_strongest_man_of_world ul li img.ass_of_dog_white{
	filter: grayscale(1);
	width: 36px;
	height: 36px;
}
div#bear footer#copyright div#development_system_analyst nav#the_strongest_man_of_world ul li img.ass_of_dog_white:hover{
	filter: drop-shadow(5px 5px 1px #666);
}
div#bear footer#copyright div#development_system_analyst nav#the_strongest_man_of_world ul li:hover{
	border-bottom: 3px solid #888;
	transition: .3s;
}

/*-------------------------------------------------------------------------footer_footer--------------------------------------------------------------------------*/

div#bear footer#copyright footer#source_size_middle_grant{
	background: linear-gradient(to right,#ccc,#ddd,#eee,#fff,#eee,#ddd,#ccc);
	height: 100px;
	color: #444;
	text-align: center;
	overflow: hidden;
}

/*-----------------------------------------------------------------------footer_footer_img------------------------------------------------------------------------*/

div#bear footer#copyright footer#source_size_middle_grant img{
	filter: grayscale(1);
	width: 40px;
	height: 40px;
}
div#bear footer#copyright footer#source_size_middle_grant img:hover{
	filter: drop-shadow(4px 4px 1px #666);
}